@font-face {
  font-family: 'Cloud Peak';
  src: url('../font-family/cloud-peak.ttf');
}

body {
  font-size: 14px;
  /* font-family: 'Cloud Peak'; */
  color: var(--theme-color);
  background-color: var(--theme-bg-color);
  transition: all 300ms;
}

button {
  cursor: pointer;
  border: 0;
}

.wrap-v1 {
  margin: 0 80px;
}
